<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
  <h1>Post List</h1>
  {% for post in posts %}
    <div class="post">
      <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
      <p>Author: {{ post.hikerid }}</p>
      <p>Post Date: {{ post.postDate }}</p>
      <p>{{ post.content }}</p>
    </div>
  {% empty %}
    <p>There are no posts yet.</p>
  {% endfor %}
{% endblock %}
</body>
</html>